<p id="notice"><%= notice %></p>

<div class="main-body">
    <% @posts.each do |post| %>
        <div class="post">
            <h1><%= link_to post.title, post %></h1>
            <span align="right">Posted <%= time_ago_in_words(post.created_at) %> ago</span>
        </div>
    <% end %>
</div>
